* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h1:hover {
    color: yellow;
    cursor: pointer;
}

form {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%;
}

form div {
    margin: 10px;
    width: 45%;
}

label {
    font-size: 1.2rem; 
    font-weight: bold;
}

input {
    height: 45px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

button {
    font-size: 1.5rem; 
    text-decoration: none;
    border: none;
    background-color: red;
    color: white;
    padding: 10px 20px; 
    border-radius: 10px;
    margin: 10px auto;
}

button:hover {
    color: yellow;
    cursor: pointer;
}

marquee {
    font-size: 2rem;
    text-align: center;
}

marquee:hover {
    color: yellow;
}

h1 {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% {
        color: red;
        opacity: 1;
    }
}

@media (max-width: 768px) {
    form div {
        width: 100%;
    }
}